--- 
layout: default 
---
<section class="grad">
    <div class="container">
        <div class="logo-centered">
            {% include fique-azul.svg %}
        </div>
        <div id="arrow" class="text-center">
            {% include icon-arrow.html %}
        </div>
    </div>
</section>
<!-- <section class="explain">
    <header class="second-titles">
        <div class="container">
            <h1 class="page-header text-center">O que somos?</h1>
        </div>
    </header>
    <div class="container">
        <div class="row text-center">
            <article class="col-md-4">
                <div class="circle-icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <h4>Teste de titulos</h4>
                <p>Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis. Delegadis gente finis, bibendum egestas augue arcu ut est. Casamentiss faiz malandris se pirulitá. Manduma pindureta quium dia nois paga.</p>
            </article>
            <article class="col-md-4">
                <div class="circle-icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <h4>Teste de titulos</h4>
                <p>Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis. Delegadis gente finis, bibendum egestas augue arcu ut est. Casamentiss faiz malandris se pirulitá. Manduma pindureta quium dia nois paga.</p>
            </article>
            <article class="col-md-4">
                <div class="circle-icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <h4>Teste de titulos</h4>
                <p>Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis. Delegadis gente finis, bibendum egestas augue arcu ut est. Casamentiss faiz malandris se pirulitá. Manduma pindureta quium dia nois paga.</p>
            </article>
        </div>    
    </div>
    
</section> -->
<section>
    <header class="second-titles">
        <div class="container">
            <h1 class="page-header text-center">Alguns destaques</h1>
        </div>
    </header>
    <article class="container">
        <div class="row">
            {% for post in site.posts limit:3 %}
            <div class="col-sm-6 col-md-4">
                <a href="{{site.url}}{{ post.url }}">
                    <div class="thumbnail">
                        {% assign image = post.images[0] %} {% include image.html image=image %}
                        <div class="caption">
                            <h3 class="text-center">{{ post.title }}</h3>
                        </div>
                    </div>
            </div>
            </a>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="{{site.url}}/blog" class="links"><span class="glyphicon glyphicon-th"></span> Todos os posts</a>
            </div>
        </div>
    </article>
</section>
