--- 
layout: default 
---
<section class="grad">
    <div class="container">
        <div class="logo-centered">
            {% include fique-azul.svg %}
        </div>
        <div id="arrow" class="text-center">
          {% include icon-arrow.html %}  
        </div>
    </div>
</section>
<section>
    <header class="second-titles">
        <div class="container">
            <h1 class="page-header text-center">Alguns destaques </h1>
        </div>
    </header>
    <article class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img data-src="holder.js/350x250auto=yes" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img data-src="holder.js/350x250auto=yes" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>...</p>
                    </div>
                </div>
            </div><div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img data-src="holder.js/350x250auto=yes" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>...</p>
                    </div>
                </div>
            </div>
        </div>  
    </article>
    
</section>
