<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="footer-col-wrapper">
        <div class="col-md-4">
          <ul class="social-media-list">
            {% if site.github_username %}
            <li>
              {% include icon-github.html username=site.github_username %}
            </li>
            {% endif %}

            {% if site.twitter_username %}
            <li>
              {% include icon-twitter.html username=site.twitter_username %}
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="contact-list">
            <li>
              <p>{{ site.description }}</p>
            </li>
          </ul>
        </div>


        <div class="col-md-4">
          {% include icon-fique_azul.html %}
        </div>
      </div>
    </div>
  </div>

</footer>
