<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  <link rel="icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <script type="text/javascript" src="https://cdn.rawgit.com/imsky/holder/master/holder.js"></script>

  <script src="https://cdn.auth0.com/js/lock/10.8.0/lock.min.js"></script>
  <script>
    var lock = new Auth0Lock("uapYHKi1KeyZhxuWJRV7g0OfXbjBoFhS","startops7.auth0.com");
    lock.on("authenticated", function(authResult) {
      localStorage.setItem('id_token', authResult.idToken);
    });
    var init = function() {
      var id_token = localStorage.getItem('id_token');
      if (!id_token) {
          lock.show({
          allowedConnections: ["google-oauth2","facebook"],
          theme: {"logo":"http://i.imgur.com/XfS6MuS.png","primaryColor":"#2196f3"},
          languageDictionary: {"title":"Fique azul"},
          language: "pt-br",
          auth: {
          redirectUrl: 'http://fiquezul.me/',
          responseType: 'token',
          params: {
              scope: 'openid email'
            }
          }
          });
      }
    };
  init();
  </script>
</head>
