<header>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="/assets/images/fique-azul_branco.png">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="light-text" href="{{site.url}}">Home</a></li>
        <li><a class="light-text" href="{{ site.url }}/blog">Blog</a></li>
        <li><a class="light-text" href="">Download de materiais</a></li>
        <li>
          {%include icon-facebook.html%}
        </li>
      </ul>
    </div>

  </nav>
</header>
