/**
 * Navbar
 */

.navbar {
    height: 65px;
    border-radius: 0 !important;
}

.navbar-default {
    background-color: $primary-blue-color !important;
    border-color: $primary-blue-color !important;
}

.navbar-brand {
    width: 180px;

}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.grad {
    background: $primary-blue-color url(../assets/images/people-min.jpg) no-repeat center center;
    @include media-query($on-palm) {
        background: $primary-blue-color;
        background: -webkit-linear-gradient(left top, $primary-blue-color, $accent-color);
        background: -o-linear-gradient(bottom right, $primary-blue-color, $accent-color);
        background: -moz-linear-gradient(bottom right, $primary-blue-color, $accent-color);
        background: linear-gradient(to bottom right, $primary-blue-color, $accent-color);   
    }
}

.logo-centered {
    margin: 15% auto;
    width: 100%;
    text-align: center;
    @include media-query($on-palm) {
        margin: 0 auto;
    }
}

.logo-centered svg {
    width: 30vw;
    height: 30vh;
    @include media-query($on-palm) {
        width: 55vw;
        height: 55vh;
    }
}

#arrow {
    font-size: 1.7em;
    padding: 25px;
    @include media-query($on-palm) {
        font-size: 1.2em;
    }
}

.down-arrow{
    position: relative;
    margin-left: -1px;
    margin-top: 8px;
    z-index: 2;

    svg {
        position: absolute;
        -webkit-animation: movearrow 1.5s infinite;
        -moz-animation: movearrow 1.5s infinite;
        -o-animation: movearrow 1.5s infinite;    
    }
    
}


@-webkit-keyframes movearrow {
    0%,
    100% {
        margin-top: 8px
    }
    50% {
        margin-top: 15px
    }
}

@keyframes movearrow {
    0%,
    100% {
        margin-top: 8px
    }
    50% {
        margin-top: 15px
    }
}

.explain i {
    font-size: 1.8em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 1.2em;
    border: 1px solid #eaeced;
    background: #FFFFFF;
    color: $primary-blue-color;
}


/**
 * Site footer
 */

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */

 .post {
    margin: 0 auto;
    padding-right: 80px;
    padding-left: 80px;
    @include media-query($on-palm) {
        padding-right: 40px;
        padding-left: 40px;
    } 

    p {
        font-size: 1.2  em;
    }
 }

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-btn {
    position: fixed;
    right: 35px;
    top: 55px;
}

.all-posts {
    padding: 35px 15px;
}


/**
 * Posts
 */

.post-header {
    margin-bottom: $spacing-unit;
    /*text-align: center;*/
}

/*.post-title {
    font-size: 2.8em;
    letter-spacing: -1px;
    line-height: 1;
    color: $white-color;
    background-color: $primary-blue-color;
    padding: 35px;
    border-radius: 50px;
    box-sizing: border-box;
    width: 580px;
    text-align: center;
    position: absolute;
    top: 680px;

    @include media-query($on-laptop) {
        font-size: 1.6em;
        top: 400px;
        width: 380px;
        padding: 25px;
    }

    @include media-query($on-palm) {
        top: 200px;
        width: 280px;
    }
}*/

.post-title {
    font-size: 2.8em;
    letter-spacing: -1px;
    line-height: 1;
    color: $white-color;
    background-color: $primary-blue-color;
    padding: 35px;
    border-radius: 35px;
    box-sizing: border-box;
    text-align: center;
}

.post-content {
    margin-bottom: $spacing-unit;
    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 26px;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    img {
        margin-bottom: 65px;
        border-radius: 35px;
    }
}

.share {
    padding: 25px 0px;
}

.second-titles {
    padding: 35px 0;
    h1 {
        font-weight: 300;
    }
}

.light-text { 
    color: $white-color !important;
}

.links {
    color: $primary-blue-color !important;
}

article {
    padding-bottom: 35px;
}

.auth0-lock-close-button { 
    display:none;
}
