

 @font-face {
       font-family: "Gotham black";
       src: url('../fonts/Gotham/copyfonts.com_gotham_black.ttf');

 }
 @font-face{
 	font-family: "Gotham bold";
       src: url('../fonts/Gotham/copyfonts.com_gotham_bold.ttf');
 }

  @font-face{
 	font-family: "Gotham book";  
       src: url('../fonts/Gotham/copyfonts.com_gotham_book.ttf');
 }

 @font-face{
 	 font-family: "Gotham light"
       src: url('../fonts/Gotham/copyfonts.com_gotham_light.ttf');
 }

 @font-face{
 	 font-family: "Gotham medium"
       src: url('../fonts/Gotham/copyfonts.com_gotham_medium.ttf');
 }

body{
	padding:70px;
	background-image: url('../img/landing.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: #FFFFFF;
    height: 100%;
}


aside{
	padding: 20px 10px;
	max-width: 100%;
}

aside h3{
	font-family: "Gotham bold";
	color: #FF9800;
	font-size: 45px;
}

aside{
	font-family: "Gotham book";
}

.btn-send{
	background-color: #FF9800;
	border: #FF9800;
	width: 100%;
	height: 60px;
	font-size: 40px;
}


.container{
	width: 100%;
}

#conteudo h2{
		font-family: "Gotham black";
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #999; opacity:1; filter:alpha(opacity=100);
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999; opacity:1; filter:alpha(opacity=100);
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999; opacity:1; filter:alpha(opacity=100);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999; opacity:1; filter:alpha(opacity=100);
}

@media (max-width: 1050px) {
	body{
		width: 100%;
		padding:0px;
		background-image:none;
		background-color:#2196f3;

	}

	article{
		width: 100%;
	}

	#conteudo{
		background-image: url('../img/landing.jpg');
	    background-repeat: no-repeat;
	    background-size: 100%;
	    width: 100%;
	    height: 400px;
	    display: block;
	    max-height: 100%;
	}
	aside{
		width: 100%;
	}

	.header-off {
		text-align: center;
	}

	.row{
		margin-left: 0px;
	}
}