--- 
layout: default 
---
{% include header.html %}

<div class="container all-posts">
	<header class="page-header ">
	<h1 class="text-center">Todos os posts</h1>	
	</header>
	
	<section class="post-list">
		{% for post in site.posts %}
            <div class="col-sm-6 col-md-4">
            <a href="{{site.url}}{{ post.url }}">
                <div class="thumbnail">
                {% assign image = post.images[1] %}
                {% include image.html image=image %}
                        <div class="caption">
                            <h3 class="text-center">{{ post.title }}</h3>
                        </div>
                    </div>
                </div>  
            </a>
        {% endfor %}    
	</section>	
</div>

