---
layout: default
---
{% include header.html %}

<div class="container">
	<nav class="post-btn">
		<!-- <a href="{{site.url}}/blog" class="btn btn-default btn-lg">Todos os artigos</a> -->
	</nav>
	<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	  <header class="post-header">
	    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
	    <!-- <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p> -->
	  </header>

	  <div class="post-content" itemprop="articleBody">
	    {{ content }}
	  </div>

	  <div class="share">
	  	<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=www.fiquezul.me" data-size="large">Tweet</a>
	  	<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Ffiquezul.me{{page.url}}&layout=button&size=large&mobile_iframe=true&appId=276066506146137&width=117&height=28" width="117" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
	  </div>

	</article>	
</div>

